<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level %msg %throwable{short.message}%n" />
		</Console>
		
		<File name="InFile" filename="logs.log">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>

	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
			<AppenderRef ref="InFile" />
		</Root>
	</Loggers>
	
</configuration>